@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-Light.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-SemiBold.woff2') format('woff2');
    font-weight: 600; /* Semibold */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('/fonts/Matter-Heavy.woff2') format('woff2');
    font-weight: 800; /* Heavy */
    font-style: normal;
}

.fira-code-300 {
    font-family: 'Fira Code', monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fira-code-400 {
    font-family: 'Fira Code', monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fira-code-500 {
    font-family: 'Fira Code', monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.fira-code-600 {
    font-family: 'Fira Code', monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.fira-code-700 {
    font-family: 'Fira Code', monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.fira-code-800 {
    font-family: 'Fira Code', monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

@layer base {
    :root {
        --tw-prose-headings: white;
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;
        --primary: 240 60% 60%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 240 60% 60%;
        --accent-foreground: 214.3 31.8% 91.4%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;
        --radius: 0.5rem;
        --chart-1: 188.7 94.5% 42.7%;
        --chart-2: 238.7 83.5% 66.7%;
        --chart-3: 330.4 81.2% 60.4%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --tw-prose-headings: white !important;
        --background: 218, 39%, 11%;
        --foreground: 242 94% 94%;
        --card: 222.2 47.4% 11.2%;
        --card-foreground: 242 94% 94%;
        --popover: 217 41% 9%;
        --popover-foreground: 210 20% 98%;
        --primary: 240 60% 60%;
        --primary-foreground: 210 20% 98%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 240 60% 60%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 263.4 70% 50.4%;
        --chart-1: 188.7 94.5% 42.7%;
        --chart-2: 238.7 83.5% 66.7%;
        --chart-3: 330.4 81.2% 60.4%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 217 41% 9%;
        --sidebar-foreground: 242 94% 94%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 215 39% 17%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --sidebar-width: 60px;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground font-matter;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
