/* Violet to HSL */
.gradient-violet {
    background: linear-gradient(to right, hsl(259, 94%, 64%), /* Tailwind violet-500 */ hsl(218, 39%, 11%));
}

/* Orange to HSL */
.gradient-orange {
    background: linear-gradient(to right, hsl(24, 94%, 64%), /* Tailwind orange-500 */ hsl(218, 39%, 11%));
}

/* Blue to HSL */
.gradient-blue {
    background: linear-gradient(to right, hsl(217, 91%, 60%), /* Tailwind blue-500 */ hsl(218, 39%, 11%));
}

/* Amber to HSL */
.gradient-amber {
    background: linear-gradient(to right, hsl(44, 92%, 64%), /* Tailwind amber-500 */ hsl(218, 39%, 11%));
}

/* Rose to HSL */
.gradient-rose {
    background: linear-gradient(to right, hsl(346, 83%, 61%), /* Tailwind rose-500 */ hsl(218, 39%, 11%));
}
